# local go tools
export GOBIN=$PWD/bin
export PATH=$GOBIN:$PATH

export ADDR="localhost:8080"

postgres_addr="admin:adminpassword@localhost/satuapotek?sslmode=disable"
export DATABASE_URL="postgres://$postgres_addr"
export MIGRATE_URL="pgx5://$postgres_addr"