# local go tools
export GOBIN=$PWD/bin
export PATH=$GOBIN:$PATH

export ADDR="localhost:8080"

# postgres database
postgres_addr="admin:adminpassword@localhost/satuapotek?sslmode=disable"
export DATABASE_URL="postgres://$postgres_addr"
export MIGRATE_URL="pgx5://$postgres_addr"

# JWT secret
export JWT_REFRESH_SECRET="szAbG+fXZcdQVOA4wf1gI9i7g0RURo0IQPWiKjsjuT8="
export JWT_ACCESS_SECRET="BYdQFIRzWCaWkqq0o21QN1RTUGe5yzpo6+8XIQLNx9k="

# JWT Time-to-Live
export REFRESH_TTL="5m"
export ACCESS_TTL="5m"

# Apotek Code TTL
export CODE_TTL="10s"

# Sessions TTL
export CACHE_SESSION_TTL="5m"
export OWNER_SESSION_TTL="10m" # 7 days

# CRON Duration
export RUN_JOB=false
export CRON_DURATION_DEL_EXP_SESSION="10s"
export CRON_DURATION_CLEAR_APTK_CODE="10s"

# CSRF secret
export CSRF_SECRET="gkeidgVznqRuazfmqVXuwdcNY4doNAafAi5MBmHDBcc="